<ion-view view-title="Maps" id="maps">
  <ion-content>
  <ion-list>
    <ion-item ng-if="vm.userMaps.length < 1">
      <p>You don't have any saved maps!</p>
    </ion-item>
    <ion-item class="item-icon-right" ng-repeat="map in vm.userMaps" href="#/tab/maps/coronado">
      <h3>{{map.name}}</h3>
      <p>Coronado, San Diego County</p>
        <!-- {{map.city}} -->
        <i class="icon ion-ios-arrow-right balanced"></i>
    </ion-item>
  </ion-list>
  <ion-list ng-click="showme = !showme">
    <ion-item >
      <i class="icon ion-ios-plus-empty balanced"></i>
      Add a map
    </ion-item>
  </ion-list>
  <ion-list ng-show="showme">
    <label class="item item-input item-select">
      <div class="input-label">
        Select a county
      </div>
      <select ng-model="vm.countyName" ng-options="county for county in vm.counties">
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Select a city
      </div>
      <select ng-model="vm.city" ng-options="city.name for city in vm.cities">
      </select>
    </label>


    <label class="item item-input item-select">
      <div class="input-label">
        Select a Map
      </div>
      <span ng-repeat="city in vm.cities | filter:{id: vm.city.id}">
      <input type="hidden" ng-model="map" />
        <select ng-model="vm.map" ng-options="map.map_name for map in city.maps">
        </select>
      </span>
    </label>

    <!-- <a href="#/tab/maps/preview"> -->
      <button type="submit" ng-click="vm.previewMap()" class="button button-positive">
        View Map
      </button>
    <!-- </a> -->
  </ion-list>
  </ion-content>
</ion-view>
