<ion-view view-title="Maps">
  <ion-content class="padding">
  <ion-list>
  <p>Hello, {{vm.user.fname}} {{vm.user.lname}}</p>
    <ion-item>
      <i class="icon ion-ios-plus-empty balanced"></i>
      Add a map
    </ion-item>
    <ion-item class="item-icon-right" ng-repeat="map in vm.userMaps" href="#/tab/maps/coronado">
      <h3>{{map.name}}</h3>
      <p>Coronado, San Diego County</p>
        <!-- {{map.city}} -->
        <i class="icon ion-ios-arrow-right balanced"></i>
      <!-- </a> -->
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
