<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive tabs-color-light tabs-background-balanced">

  <!-- Maps Tab -->
  <ion-tab title="Maps" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/maps">
    <ion-nav-view name="tab-maps"></ion-nav-view>
  </ion-tab>

  <!-- My Info Tab -->
  <ion-tab title="My Info" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


  <!-- Prepare Tab -->
  <ion-tab title="Prepare" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/prepare">
    <ion-nav-view name="tab-prepare"></ion-nav-view>
  </ion-tab>


</ion-tabs>
