<ion-modal-view id="map-detail">
  <ion-header-bar>
    <h1 class="title">City {{vm.mapDetail.city_id}} - {{vm.mapDetail.name}}</h1>
    <div class="buttons">
      <button class="button button-clear modal-nav-button" ng-click="closeDetailModal()">
        <i class="icon ion-ios-close-empty"></i>
      </button>
    </div>
  </ion-header-bar>
  <!-- <ion-content> -->
  <ion-scroll delegate-handle="mapZoom" zooming="true" min-zoom="1" direction="xy" scrollbar-x="false" scrollbar-y="false" style="height: 1000px">
    <img ng-src="{{vm.mapDetail.map_url}}" on-double-tap="vm.onDoubleTap()" alt="Map Preview"/>
  </ion-content>
</ion-modal-view>

