<ion-modal-view id="map-detail">
  <ion-header-bar>
    <h1 class="title">{{vm.mapDetail.city}} - {{vm.mapDetail.name}}</h1>
    <div class="buttons">
      <button class="button button-clear modal-nav-button" ng-click="closeDetailModal()">
        <i class="icon ion-ios-close-empty"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-scroll class="parent" delegate-handle="mapZoom" zooming="true" min-zoom="1" direction="xy" scrollbar-x="false" scrollbar-y="false" style="margin-top: 26px">
    <img ng-src="{{vm.mapDetail.map_url}}" on-double-tap="vm.onDoubleTap()" alt="Map Preview"/>
  </ion-scroll>
</ion-modal-view>

