<ion-modal-view id="map-preview">
  <ion-header-bar>
    <h1 class="title">{{vm.previewMap.city}} - {{vm.previewMap.name}}</h1>
    <div class="buttons">
      <button class="button button-clear modal-nav-button" ng-click="closePreviewModal()">
        <i class="icon ion-ios-close-empty"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-scroll class="parent" delegate-handle="mapZoom" zooming="true" min-zoom="1" direction="xy" scrollbar-x="false" scrollbar-y="false">
    <img ng-src="{{vm.previewMap.map_url}}" on-double-tap="vm.onDoubleTap()" alt="Map Preview"/>
  </ion-scroll>
  <button ng-click="vm.addMap()" class="button button-positive button-block add-button">
    Add Map
  </button>
</ion-modal-view>
